{% extends "todo\\base.html" %}
{% block content %}

<div class="container">
<div class="row mt-4">
	<div class="col">
	<h3>To-Do Items</h3>
	</div>
	
	
			  </div>
			  <form action='update1/' class="form-inline mt-4" method='POST'>
			  {% csrf_token %}
			<input class="form-control mr-sm-2" type="text" placeholder="Enter Text" aria-label="Search" name="add-text1">
			<button class="btn btn-primary   my-2 my-sm-0" type="submit">edit</button>
			</form>
			
</div>
{% endblock content %}